{% comment %}
This is the typical schedule for the Data Carpentry workshops.
The schedule for the different curricula are listed here:
- dc-astronomy
- dc-ecology
- dc-genomics
- dc-image
- dc-socsci
- dc-geosptial
{% endcomment %}

{% if site.curriculum == "dc-astronomy" %}
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/astronomy-python/01-query.html/">Basic Queries</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/astronomy-python/02-coords.html">Coordinate Transformations</a></td></tr>
      <tr><td>Afternoon</td> <td> <a href="https://datacarpentry.org/astronomy-python/03-transform.html">Plotting and Tabular Data</a></td></tr>
      <tr><td> </td> <td> <a href="https://datacarpentry.org/astronomy-python/04-motion.html">Plotting and Pandas</a></td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr><td>Morning</td><td><a href="https://datacarpentry.org/astronomy-python/05-select.html">Transform and Select</a></td></tr>
      <tr><td> </td> <td> <a href="https://datacarpentry.org/astronomy-python/06-join.html">Join</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/astronomy-python/07-photo.html">Photometry</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/astronomy-python/08-plot.html">Visualization</a></td></tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-image" %}
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/image-processing/01-introduction.html">Introduction</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/image-processing/02-image-basics.html">Image Basics</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/image-processing/03-skimage-images.html">Working with skimage</a></td></tr>
      <tr><td>Afternoon</td> <td> <a href="https://datacarpentry.org/image-processing/04-drawing.html">Drawing and Bitwise Operations</a></td></tr>
      <tr><td> </td> <td> <a href="https://datacarpentry.org/image-processing/05-creating-histograms.html">Creating Histograms</a></td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr><td>Morning</td><td><a href="https://datacarpentry.org/image-processing/06-blurring.html">Blurring Images</a></td></tr>
      <tr><td> </td> <td> <a href="https://datacarpentry.org/image-processing/07-thresholding.html">Thresholding</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/image-processing/08-connected-components.html">Connected Component Analysis</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/image-processing/09-challenges.html">Capstone Challenge</a></td></tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-ecology" %}
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning</a></td></tr>
      <tr>
        <td>Afternoon</td>
        <td>
          {% if site.flavor == "r" %}
          <a href="https://datacarpentry.org/R-ecology-lesson/">Introduction to R</a>
          {% elsif site.flavor == "python" %}
          <a href="https://datacarpentry.org/python-ecology-lesson/">Introduction to Python</a>
          {% else %}
          {% include warning-flavor.html %}
          {% endif %}
      </td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td>
        <td>
          {% if site.flavor == "r" %}
          <a href="https://datacarpentry.org/R-ecology-lesson/">Continuation of R: Data analysis and Visualization</a>
          {% elsif site.flavor == "python" %}
          <a href="https://datacarpentry.org/python-ecology-lesson/">Continuation of Python: Data analysis and Visualization</a>
          {% else %}
          {% include warning-flavor.html %}
          {% endif %}
        </td>
      </tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-genomics" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/organization-genomics/">Project Organization and Management</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing</a></td></tr>
			<tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
			<tr><td>Morning</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Continuation: Data Wrangling and Processing</a></td></tr>
			<tr><td>Afternoon</td><td><a href="https://datacarpentry.org/cloud-genomics/">Introduction to Cloud Computing for Genomics</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-socsci" %}

<div class="row">
<div class="col-md-6">
    <h3>Day 1 Sept 4, 2024 </h3> 
	<p>Helper for today: Muya Koloko</p>
	  <p>| 10am-4pm SAST |</p>
	
    <table class="table table-striped">
	<tr>
		<td>Before starting</td>
		<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a>
		<a href="https://marionwalton.github.io/media-test/data/files.zip"> title="download all workshop data"Zip file of workshop data.</a>
		</td>
      </tr> 
	<tr>
		<td>
		Session 1
		</td>
		<td>
		Intro (Marion Walton & Alette Schoon) 
		</td>
	</tr>
	<tr>
		<td>
		10:00 - 10:45
		</td>
		<td>
		<a href="https://colab.research.google.com/drive/17OEERiUuS45kz-415iAwZgkBEeBfQD6z#scrollTo=p33gmshmSHqg">
			Quick and dirty data viz</a> 
		(Marion Walton, Mendi Lab)
		</td>
	</tr>
	<tr>
		<td>
		10:45 - 11:00
		</td>
		<td>
		Short break 
		</td>
	</tr>
 	<tr>
		<td>
		11:00 - 11:30
		</td>
		<td>
		<a href="https://app.rawgraphs.io/">Rawgraphs</a>
			(Alette Schoon, Mendi Lab)
		</td>
	</tr>
 	<tr>
		<td>
		11:30 - 12:00
		</td>
		<td>
		Transcribing and visualising audio (Alette Schoon, Mendi Lab) 
			<a href="https://goodsnooze.gumroad.com/l/macwhisper">MacWhisper</a>, 
		<a href="https://apps.microsoft.com/detail/9n15q44szns2?hl=en-us&gl=ZA">aTrain</a>
		</td>
	</tr>
		<td>Session 2 </td>
		<td><a href="https://datacarpentry.org/r-socialsci/index.html">R for Social Scientists I</a> 
			(Marion Walton)</td>
	</tr>
	<tr>
		<td>13:00 - 13:50 </td>
		<td><a href="https://datacarpentry.org/r-socialsci/00-intro.html">Before we start </a></td>
	</tr>
      <tr> 
	      <td>13:50 - 14:00  </td>
	      <td>Short break</td>
      </tr>
      <tr> 
	      <td>14:00 -  14:20 </td>
	      <td><a href="https://datacarpentry.org/r-socialsci/06-rmarkdown.html">Getting started with R Markdown</a></td>
      </tr>
	<tr> 
	      <td>14:20 -  14:50  </td>
	      <td> <a href="https://datacarpentry.org/r-socialsci/01-intro-to-r.html">Introduction to R</a> </td>
      </tr>	    
    </table>
  </div>
 </div>
<div class="row">
<div class="col-md-6">
    <h3>Day 2 Sept 5, 2024 </h3> 
	<p>Helper for today: Muya Koloko </p>
	  <p>| 10am-4pm SAST |</p>
	  <p><a href="">
	 Register here for Day 3</a></p>
    <table class="table table-striped">
      <tr> 
	      <td>Session 1</td> 
	      <td><a href="https://datacarpentry.org/r-socialsci/index.html">R for Social Scientists</a> II (Marion Walton) </td>
      </tr>
	<tr>
		<td>10:00 - 10:45</td>
		<td><a href="https://datacarpentry.org/r-socialsci/03-dplyr.html">Data Wrangling with dplyr</a></td>
	</tr>
	<tr>
		<td>10:45-11:00</td>
		<td>Short break</td>
	</tr>
	<tr>
		<td>11:00 - 12:00 </td>
		<td><a href="https://datacarpentry.org/r-socialsci/04-tidyr.html">Data Wrangling with tidyr</a></td>
	</tr>
	<tr>
		<td>12:00 - 13:00 </td>
		<td>Long break</td>
	</tr>
	<tr>
		<td>Session 2 </td>
		<td><a href="https://datacarpentry.org/r-socialsci/index.html">R for Social Scientists</a> II (Marion Walton)</td>
	</tr>
	<tr>
		<td>13:00 - 13:50 </td>
		<td><a href="https://datacarpentry.org/r-socialsci/05-ggplot2.html">Data Visualisation with ggplot2</a></td>
	</tr>
      <tr> 
	      <td>13:50 - 14:00  </td>
	      <td>Short break</td>
      </tr>
      <tr> 
	      <td>14:00 -  14:20 </td>
	      <td><a href="https://datacarpentry.org/r-socialsci/06-rmarkdown.html">Getting started with R Markdown</a></td>
      </tr>
	<tr> 
	      <td>14:20 -  14:50  </td>
	      <td> <a href="https://datacarpentry.org/r-socialsci/07-json.html">Getting started with Processing JSON data</a> </td>
      </tr>
	<tr>
		<td>14:50 - 15:00</td>
		<td>Final wrap up and <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post survey</a></td>
	</tr>    
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-geospatial" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>Morning</td>
        <td><a href="https://datacarpentry.org/organization-geospatial/">Introduction to Geospatial Concepts</a>
        </td>
      </tr>
      <tr>
        <td> </td>
        <td><a href="https://datacarpentry.org/r-intro-geospatial/">Introduction to R for Geospatial Data</a></td>
      </tr>
      <tr>
        <td>Afternoon</td>
        <td><a href="https://datacarpentry.org/r-intro-geospatial/">Introduction to R for Geospatial Data (continued)</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector Data with R</a> (Part 1)</td>
      </tr>
      <tr>
        <td>Evening</td>
        <td>END</td>
      </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector Data with R</a> (Part 2)</td></tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector Data with R</a> (Part 3)</td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% else %}
{% include warning-curriculum.html %}
{% endif %}
